.en-li{
  position: relative;
}

.details{
  visibility: hidden;
  position:absolute;
  top:55px;
  right:-35px;
  background-color:darkslategray;
  
  padding: 20px 35px;
}


.en-li:hover .details{
  visibility: visible;
}



.main-div{
 

  display: flex;
  margin: 30px 100px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.vote-div{
  display: flex;
  flex-direction: column;
 
  width: 40%;
  height: 60%;
  margin-left: 500px;
  margin-right: 50px;
  padding: 10px;
}

.vote-div button{
  border: none;
  background-color: none;
  
}

.img-div{
  margin-right: 30px;
 

}

.img-div img{
  height: 150px;
}

.info-div{

 
 padding: 2px 10px;
 width: 500px;
 height: 200px;
 text-align: left;
 flex: 1;
}

.inn-div{
 
  width: 500px;
  padding: 2px 5px;
}

.butt-div{
 

 text-align: center;
 margin: 2px 300px;
 width: 500px;
}

.butt-div button{
  width: 100%;
  border:none;
  background-color: royalblue;
  color: aliceblue;
}
